<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
  <add name="dbcs" connectionString="Data Source=DESKTOP-T66G9HM\SQLEXPRESS;Initial Catalog=WINFORMS_DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="dbcs_1" connectionString="Data Source=DESKTOP-T66G9HM\SQLEXPRESS;Initial Catalog=Add_Book;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="dbcs_3" connectionString="Data Source=DESKTOP-T66G9HM\SQLEXPRESS;Initial Catalog=Orders;Integrated Security=True" providerName="System.Data.SqlClient"/>
  
 </connectionStrings>
		
 
</configuration>
